{% extends 'base.html' %}
{% block title %}<title>MiniMarket</title>{% endblock %}

{% block category %}
{% for category in categories %}
    <a class="mr-2 text-light" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
{% endfor %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="mt-5 row row-cols-1 row-cols-md-3">
        {% for product in category.products.all %}
        <div class="col mb-4">
            <div class="card shadow p-2 mb-5">
            <img src="{{ product.images.first.image.url }}" class="rounded mx-auto d-block" alt="..." height="235px">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <h3>${{ product.price }}</h3>
                    <p class="card-text">{{ product.description|slice:':95' }} ...</p>
                    <a class="float-right btn btn-outline-dark" href="{{ product.get_absolute_url }}" role="button">
                        View
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}