{% extends 'base.html' %}
{% block title %}<title>SignIn</title>{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="card shadow mt-5" style="width: 22rem;">
            <div class="card-header">
                <h2 class="h3 text-center">Please sign in</h2>
            </div>
            <div class="card-body">
                <form class="form-signin" method="post">
                    {% for field in form %}
                        <span>{{ field.label }}</span>
                        {{ field }}
                        <br>
					{% endfor %}
					{% csrf_token %}
                    <button class="btn btn btn-dark btn-block mb-3" type="submit">Sign in</button>
                    <div class="text-center">
                        New to MiniMarket?
                        <a href="{% url 'users:sign_up' %}">Create an account. </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}